---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  grownetics:

services:
  growdash:
    restart: always
    networks:
        - grownetics
        - traefik_network
    environment:
        - DEV
        - FACILITY_NAME
        - FACILITY_ID
        - CERES
        - DEMO
        - ENVIRONMENT
        - REMOTE_DOMAIN
        - REMOTE_SOCKET_DOMAIN
        - PORT
        - VERSION
        - SHORT_NAME

        - SET_POINT_ALARM_TOLERANCE_PERCENTAGE
        - BURNOUT_PROTECTION_DELAY

        - DB_HOSTNAME
        - MARIADB_ROOT_PASSWORD
        - MARIADB_DATABASE
        - MARIADB_TEST_DATABASE
        - MARIADB_USER
        - MARIADB_PASSWORD

        - REDIS_HOSTNAME
        - RABBIT_HOST
        - RABBIT_PORT
        - RABBIT_USER
        - RABBIT_PASS
        - INFLUX_HOST
        - INFLUX_PORT
        - TWILIO_SID
        - TWILIO_TOKEN


        - AWS_ACCESS_KEY_ID
        - AWS_SECRET_ACCESS_KEY
        - RESTIC_REPOSITORY
        - RESTIC_PASSWORD

        - SMTP_HOST
        - SMTP_USER
        - SMTP_PASS
        - CONSUL_HOST
    image: grownetics/growdash:{{ grownetics.version }}
    volumes:
        - "{{ volumes_root }}/grownetics/tmp:/tmp:cached"
{% include './labels.j2' %}

  deviceapi:
    restart: always
    networks:
        - grownetics
        - traefik_network
    environment:
        - DEV
        - FACILITY_NAME
        - FACILITY_ID
        - CERES
        - ENVIRONMENT
        - REMOTE_DOMAIN
        - VERSION
        - SHORT_NAME

        - SET_POINT_ALARM_TOLERANCE_PERCENTAGE
        - BURNOUT_PROTECTION_DELAY

        - DB_HOSTNAME
        - MARIADB_ROOT_PASSWORD
        - MARIADB_DATABASE
        - MARIADB_TEST_DATABASE
        - MARIADB_USER
        - MARIADB_PASSWORD

        - REDIS_HOSTNAME
        - RABBIT_HOST
        - RABBIT_PORT
        - RABBIT_USER
        - RABBIT_PASS
        - INFLUX_HOST
        - INFLUX_PORT
        - CONSUL_HOST
    image: grownetics/growdash:{{ grownetics.version }}
    volumes:
      - "{{ volumes_root }}/grownetics/tmp:/tmp:cached"

  appdb:
    image: mariadb:10.5
    restart: always
    command: mysqld --sql_mode=""
    environment:
        - MARIADB_ROOT_PASSWORD
        - MARIADB_DATABASE
        - MARIADB_TEST_DATABASE
        - MARIADB_USER
        - MARIADB_PASSWORD
    volumes:
        - "{{ volumes_root }}/grownetics/appdb:/var/lib/mysql"
    networks:
        - grownetics

  redis:
    image: redis
    restart: always
    networks:
        - grownetics

  growsocket:
    image: grownetics/socketio:{{ grownetics.version }}
    restart: always
    ports:
        - 8989:8989
    networks:
        - traefik_network
        - grownetics
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.socket.loadbalancer.server.scheme=http"
      - "traefik.http.services.socket.loadbalancer.server.port=8989"
      - "traefik.http.routers.socket-http.rule=Host(`socket.{{ service_domain }}`)"
      - "traefik.http.routers.socket-http.entrypoints=http"
      - "traefik.http.routers.socket-http.middlewares={% if grownetics.https_only %}redirect@file, security-headers@file, {% else %}{% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.socket.rule=Host(`socket.{{ service_domain }}`)"
      - "traefik.http.routers.socket.entrypoints=https"
      - "traefik.http.routers.socket.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.socket.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.socket.tls.certresolver=dns"
      - "traefik.http.routers.socket.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.socket.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.socket.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.socket-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`) && Path(`/socket.io/`)"
      - "traefik.http.routers.socket-tor-http.entrypoints=http"
      - "traefik.http.routers.socket-tor-http.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  rabbitmq:
    image: rabbitmq:3.6-management-alpine
    restart: always
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - grownetics

  growpulse:
    image: grownetics/growdash:{{ grownetics.version }}
    restart: always
    command: /var/www/html/growpulse.sh
    networks:
      - grownetics
      - traefik_network
    environment:
      - DEV
      - FACILITY_NAME
      - FACILITY_ID
      - CERES
      - ENVIRONMENT
      - REMOTE_DOMAIN
      - SHORT_NAME
      - VERSION

      - DB_HOSTNAME
      - MARIADB_ROOT_PASSWORD
      - MARIADB_DATABASE
      - MARIADB_TEST_DATABASE
      - MARIADB_USER
      - MARIADB_PASSWORD

      - REDIS_HOSTNAME
      - RABBIT_HOST
      - RABBIT_PORT
      - RABBIT_USER
      - RABBIT_PASS
      - INFLUX_HOST
      - INFLUX_PORT
      - THRESHOLD_DEVICE_BOOTS
      - THRESHOLD_DATA_RECEIVED
      - THRESHOLD_CT_ON
      - ZULIP_URL
      - ZULIP_CREDS
      - CONSUL_HOST
      - TWILIO_SID
      - TWILIO_TOKEN
      - INFISENSE_API_KEY


  #
  # Service Discovery - Consul
  #
  consul:
    image: hashicorp/consul
    restart: always
    ports:
      - "8500:8500"
    networks:
    - grownetics
    volumes:
      - "{{ volumes_root }}/grownetics/consul-data:/consul/data"
      - "{{ volumes_root }}/grownetics/consul-config:/consul/config"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.consul.loadbalancer.server.scheme=http"
      - "traefik.http.services.consul.loadbalancer.server.port=8500"
      - "traefik.http.routers.consul-http.rule=Host(`consul.{{ service_domain }}`)"
      - "traefik.http.routers.consul-http.entrypoints=http"
      - "traefik.http.routers.consul-http.middlewares={% if grownetics.https_only %}redirect@file, security-headers@file, {% else %}{% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.consul.rule=Host(`consul.{{ service_domain }}`)"
      - "traefik.http.routers.consul.entrypoints=https"
      - "traefik.http.routers.consul.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.consul.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.consul.tls.certresolver=dns"
      - "traefik.http.routers.consul.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.consul.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.consul.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.consul-tor-http.rule=Host(`consul.{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.consul-tor-http.entrypoints=http"
      - "traefik.http.routers.consul-tor-http.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  notifications:
    image: grownetics/growdash:{{ grownetics.version }}
    networks:
      - grownetics
      - traefik_network
    restart: always
    command: bash -c "chmod +x /var/www/html/notification.sh && /var/www/html/notification.sh"
    environment:
      - DEV
      - FACILITY_NAME
      - SHORT_NAME
      - FACILITY_ID
      - CERES
      - ENVIRONMENT
      - REMOTE_DOMAIN
      - VERSION

      - DB_HOSTNAME
      - MARIADB_ROOT_PASSWORD
      - MARIADB_DATABASE
      - MARIADB_TEST_DATABASE
      - MARIADB_USER
      - MARIADB_PASSWORD

      - REDIS_HOSTNAME
      - RABBIT_HOST
      - RABBIT_PORT
      - RABBIT_USER
      - RABBIT_PASS
      - INFLUX_HOST
      - INFLUX_PORT

      - TWILIO_SID
      - TWILIO_TOKEN

      - SMTP_HOST
      - SMTP_USER
      - SMTP_PASS

      - ZULIP_URL
      - ZULIP_PASS

      - CONSUL_HOST
